.nes-table.is-dark::before {
    display: none !important;
}

#menu-title {
    text-align: center;
}

#nes-select {
    width: 180px;
    height: 44px;
    margin: 18px auto;
}

#default-select {
    height: 44px;
}
