@page "/"
@using System.Net.Http.Headers
@using Translator.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JS



<div id="menu-title">
    <h1>Translator</h1>
    <button class="nes-btn" onclick="document.getElementById('upload').click()">选取多语言库文件</button>
    <InputFile id="upload" OnChange="@OnInputFileChange" style="display:none;" accept=".db" />
</div>
<div class="menu-area">
</div>

<dialog class="nes-dialog" id="dialog-default">
</dialog>


@code {
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        if (e?.File == null)
        {
            return;
        }
        using var content = new MultipartFormDataContent();
        long maxFileSize = 1024 * 1024 * 15;
        var fileContent = new StreamContent(e.File.OpenReadStream(maxFileSize));
        content.Add(content: fileContent, "file", e.File.Name);

        var response = await Http.PostAsync("/Translate", content);
    }
}
